body{
	font-family: "Marker Felt","Arial Black", fantasy;
	color:#80002a;
       }

h1 {
	font-size: 1.3em;
	text-align:center;
     }

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #000000;
	text-align:center;
	background: #ff1a75; 
    }

th {
	text-align:center;
	color:#000000;
	background-color:#cc0052;
   }
