body{
	font-family: "Marker Felt","Arial Black", fantasy;
	color:#000000;
       }

h1 {
	font-size: 1.3em;
	text-align:center;
     }

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #000000;
	text-align:center;
	background: url(https://lh6.googleusercontent.com/XZ8NLHwuOSmgAYyegKBt9Vd3iNYP6m1zdXAqi6eG8aoJiinKPLecO_s2dCGpPyk3ypmVLXT6-XtZwJxfgPFJ43RreIGnOqq147h_iwUPcvcKQANBXu3iPTb1mw) repeat-x; 
    }

th {
	text-align:center;
	color:#000000;
	background-color:#b34700;
   }
