<style style="text/css">
  	.hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #ffff99;
    }
body{
	font-family: "Marker Felt","Arial Black", fantasy;
	color:#80002a;
       }

h1 {
	font-size: 1.3em;
	text-align:center;
     }

table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #ffffff;
	text-align:center;
	background: #ff1a75; 
    }

th {
	text-align:center;
	color:#ffffff;
	background-color:#cc0052;
   }
   tr:hover {
          background-color: #ffff99;
        }
</style>

